@font-face {
  font-family: "SemiBold";
  src: url("@/assets/fonts/Paperlogy-5Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bold";
  src: url("@/assets/fonts/Paperlogy-6SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Light";
  src: url("@/assets/fonts/Paperlogy-3Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Medium";
  src: url("@/assets/fonts/Paperlogy-4Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
