<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workout.model.dao.TrainerClientDao">

	<!-- 회원 등록 -->
	<insert id="insertClient">
		INSERT INTO trainer_clients (trainer_id, client_id, comment)
		VALUES (#{trainerId}, #{clientId}, #{comment})
	</insert>
	
	<!-- 회원 수정 -->
	<update id="updateClient" parameterType="TrainerClient">
		UPDATE trainer_clients
		SET comment = #{comment}
		WHERE client_id = #{clientId}
	</update>
	
	<!-- 특정 회원 조회 -->
	<select id="selectClientById" parameterType="long" resultType="User">
		SELECT name, age, gender
		FROM users
		WHERE user_id = #{clientId}
	</select>
	
	<!-- 회원 목록 조회 -->
	<select id="selectAllClients" parameterType="long" resultType="TrainerClient">
		SELECT *
		FROM trainer_clients
		WHERE trainer_id = #{trainerId}
	</select>
	
	<!-- 회원 삭제 -->
	<delete id="deleteClient" parameterType="long">
		DELETE FROM trainer_clients
		WHERE client_id = #{clientId}
	</delete>
	
</mapper>
