<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workout.model.dao.UserDao">
	<select id="selectOne" parameterType="Map" resultType="User">
		SELECT u.user_id, u.name, u.phoneNum, u.gender, u.email, u.username, u.role,
		u.gym_name,
		GROUP_CONCAT(pe.exercise_name) AS preferred_exercises
		FROM users u
		LEFT JOIN preferred_exercises pe ON u.user_id = pe.user_id
		WHERE u.username = #{username} AND u.password = #{password}
		GROUP BY u.user_id
	</select>

	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO users (name, birthDate, phoneNum, gender, email, username,
		password, role, security_question, security_answer)
		VALUES (#{name}, #{birthDate}, #{phoneNum}, #{gender}, #{email},
		#{username}, #{password}, #{role}, #{securityQuestion},
		#{securityAnswer})
	</insert>

	<!-- 아이디 찾기 -->
	<select id="findByEmailAndName" resultType="User">
		SELECT username, security_question, security_answer FROM users
		WHERE email = #{email} AND name = #{name}
	</select>

	<select id="selectByEmail" resultType="User">
		SELECT * FROM users
		WHERE email = #{email}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findByEmailAndNameAndId" resultType="User">
		SELECT username, password, security_question, security_answer FROM users
		WHERE email = #{email} AND name = #{name} AND username = #{username}
	</select>

	<!-- 유저 수정 -->
	<update id="updateUser">
		UPDATE users
		SET name = #{name},
		email = #{email},
		phoneNum = #{phoneNum},
		gender =
		#{gender},
		profile_image_url = #{profile},
		gym_name = {gymName},
		is_private_account = #{isPrivateAccount}
		WHERE user_id = #{userId}
	</update>

</mapper>
